# Checkpoint Three: Cleaning Data

Now you are ready to clean your data. Before starting coding, provide the link to your dataset below.

My dataset:https://www.kaggle.com/datasets/neurocipher/heartdisease

Import the necessary libraries and create your dataframe(s).

In [3]:
import pandas as pd
import matplotlib 
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
heart_data = pd.read_csv(r"C:\Users\lred1\Desktop\Launchcode\SQL\Checkpoint 2 EDA\Heart_Disease_Prediction.csv")
# Did creating the dataframe work?
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      270 non-null    int64
 1   Sex                      270 non-null    int64
 2   Chest pain type          270 non-null    int64
 3   BP                       270 non-null    int64
 4   Cholesterol              270 non-null    int64
 5   FBS over 120             270 non-null    int64
 6   EKG results              270 non-null    int64
 7   Max HR                   270 non-null    int64
 8   Exercise angina          270 non-null    int64
 9   ST depression            270 non-null    float64
 10  Slope of ST              270 non-null    int64
 11  Number of vessels fluro  270 non-null    int64
 12  Thallium                 270 non-null    int64
 13  Heart Disease            270 non-null    object
dtypes: float64(1), int64(12), object(1)
memory usage: 29.7+ KB

In [5]:
heart_data.shape

(270, 14)

## Missing Data

Test your dataset for missing data and handle it as needed. Make notes in the form of code comments as to your thought process.

In [7]:
heart_data.isnull()
#There is no missing data in the Heart_Disease_Prediction.csv file.

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,False,False,False,False,False,False,False,False,False,False,False,False,False,False
266,False,False,False,False,False,False,False,False,False,False,False,False,False,False
267,False,False,False,False,False,False,False,False,False,False,False,False,False,False
268,False,False,False,False,False,False,False,False,False,False,False,False,False,False
269,False,False,False,False,False,False,False,False,False,False,False,False,False,False

## Irregular Data

Detect outliers in your dataset and handle them as needed. Use code comments to make notes about your thought process.

In [9]:
heart_data.describe()

# After reviwing the data I dont not wish to remove any outliers at this time.

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium
count,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.00000,270.000000,270.000000,270.000000
mean,54.433333,0.677778,3.174074,131.344444,249.659259,0.148148,1.022222,149.677778,0.329630,1.05000,1.585185,0.670370,4.696296
std,9.109067,0.468195,0.950090,17.861608,51.686237,0.355906,0.997891,23.165717,0.470952,1.14521,0.614390,0.943896,1.940659
min,29.000000,0.000000,1.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.00000,1.000000,0.000000,3.000000
25%,48.000000,0.000000,3.000000,120.000000,213.000000,0.000000,0.000000,133.000000,0.000000,0.00000,1.000000,0.000000,3.000000
50%,55.000000,1.000000,3.000000,130.000000,245.000000,0.000000,2.000000,153.500000,0.000000,0.80000,2.000000,0.000000,3.000000
75%,61.000000,1.000000,4.000000,140.000000,280.000000,0.000000,2.000000,166.000000,1.000000,1.60000,2.000000,1.000000,7.000000
max,77.000000,1.000000,4.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.20000,3.000000,3.000000,7.000000

## Unnecessary Data

Look for the different types of unnecessary data in your dataset and address it as needed. Make sure to use code comments to illustrate your thought process.

In [10]:
#FBS over 120 column is needed to heart disease prediction, do dropping the column.
heart_data=heart_data.drop('FBS over 120', axis=1)
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      270 non-null    int64
 1   Sex                      270 non-null    int64
 2   Chest pain type          270 non-null    int64
 3   BP                       270 non-null    int64
 4   Cholesterol              270 non-null    int64
 5   EKG results              270 non-null    int64
 6   Max HR                   270 non-null    int64
 7   Exercise angina          270 non-null    int64
 8   ST depression            270 non-null    float64
 9   Slope of ST              270 non-null    int64
 10  Number of vessels fluro  270 non-null    int64
 11  Thallium                 270 non-null    int64
 12  Heart Disease            270 non-null    object
dtypes: float64(1), int64(11), object(1)
memory usage: 27.6+ KB

## Inconsistent Data

Check for inconsistent data and address any that arises. As always, use code comments to illustrate your thought process.

In [12]:
heart_data.head(50)
#All data looks good in all columns, i didn't find any inconsistent data.

,Age,Sex,Chest pain type,BP,Cholesterol,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,70,1,4,130,322,2,109,0,2.4,2,3,3,Presence
1,67,0,3,115,564,2,160,0,1.6,2,0,7,Absence
2,57,1,2,124,261,0,141,0,0.3,1,0,7,Presence
3,64,1,4,128,263,0,105,1,0.2,2,1,7,Absence
4,74,0,2,120,269,2,121,1,0.2,1,1,3,Absence
5,65,1,4,120,177,0,140,0,0.4,1,0,7,Absence
6,56,1,3,130,256,2,142,1,0.6,2,1,6,Presence
7,59,1,4,110,239,2,142,1,1.2,2,1,7,Presence
8,60,1,4,140,293,2,170,0,1.2,2,2,7,Presence
9,63,0,4,150,407,2,154,0,4.0,2,3,7,Presence
10,59,1,4,135,234,0,161,0,0.5,2,0,7,Absence
11,53,1,4,142,226,2,111,1,0.0,1,0,7,Absence
12,44,1,3,140,235,2,180,0,0.0,1,0,3,Absence
13,61,1,1,134,234,0,145,0,2.6,2,2,3,Presence
14,57,0,4,128,303,2,159,0,0.0,1,1,3,Absence
15,71,0,4,112,149,0,125,0,1.6,2,0,3,Absence
16,46,1,4,140,311,0,120,1,1.8,2,2,7,Presence
17,53,1,4,140,203,2,155,1,3.1,3,0,7,Presence
18,64,1,1,110,211,2,144,1,1.8,2,0,3,Absence
19,40,1,1,140,199,0,178,1,1.4,1,0,7,Absence
20,67,1,4,120,229,2,129,1,2.6,2,2,7,Presence
21,48,1,2,130,245,2,180,0,0.2,2,0,3,Absence
22,43,1,4,115,303,0,181,0,1.2,2,0,3,Absence
23,47,1,4,112,204,0,143,0,0.1,1,0,3,Absence
24,54,0,2,132,288,2,159,1,0.0,1,1,3,Absence
25,48,0,3,130,275,0,139,0,0.2,1,0,3,Absence
26,46,0,4,138,243,2,152,1,0.0,2,0,3,Absence
27,51,0,3,120,295,2,157,0,0.6,1,0,3,Absence
28,58,1,3,112,230,2,165,0,2.5,2,1,7,Presence
29,71,0,3,110,265,2,130,0,0.0,1,1,3,Absence
30,57,1,3,128,229,2,150,0,0.4,2,1,7,Presence
31,66,1,4,160,228,2,138,0,2.3,1,0,6,Absence
32,37,0,3,120,215,0,170,0,0.0,1,0,3,Absence
33,59,1,4,170,326,2,140,1,3.4,3,0,7,Presence
34,50,1,4,144,200,2,126,1,0.9,2,0,7,Presence
35,48,1,4,130,256,2,150,1,0.0,1,2,7,Presence
36,61,1,4,140,207,2,138,1,1.9,1,1,7,Presence
37,59,1,1,160,273,2,125,0,0.0,1,0,3,Presence
38,42,1,3,130,180,0,150,0,0.0,1,0,3,Absence
39,48,1,4,122,222,2,186,0,0.0,1,0,3,Absence
40,40,1,4,152,223,0,181,0,0.0,1,0,7,Presence
41,62,0,4,124,209,0,163,0,0.0,1,0,3,Absence
42,44,1,3,130,233,0,179,1,0.4,1,0,3,Absence
43,46,1,2,101,197,0,156,0,0.0,1,0,7,Absence
44,59,1,3,126,218,0,134,0,2.2,2,1,6,Presence
45,58,1,3,140,211,2,165,0,0.0,1,0,3,Absence
46,49,1,3,118,149,2,126,0,0.8,1,3,3,Presence
47,44,1,4,110,197,2,177,0,0.0,1,1,3,Presence
48,66,1,2,160,246,0,120,1,0.0,2,3,6,Presence
49,65,0,4,150,225,2,114,0,1.0,2,3,7,Presence

## Summarize Your Results

Make note of your answers to the following questions.

1. Did you find all four types of dirty data in your dataset?
   No, Heart_Disease_Prediction file is well preapred.
2. Did the process of cleaning your data give you new insights into your dataset?
   Yes     
3. Is there anything you would like to make note of when it comes to manipulating the data and making visualizations?
   .corr() function gives an error it gices ValueError: could not convert string to float: when file has string column, so i will make a note of this.