# Data Manipulation Studio

For this studio, we will revisit the data set from our last studio. If you recall, California farmers were looking for advice on growing pumpkins. We will use the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

A **terminal market** is a central site, often in a metropolitan area, that serves as an assembly and trading place for commodities. Terminal markets for agricultural commodities are usually at or near major transportation hubs. [Definition Source](https://en.wikipedia.org/wiki/Terminal_market#:~:text=A%20terminal%20market%20is%20a,or%20near%20major%20transportation%20hubs)

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [1]:
# Import the necessary libraries and CSVs. Make some dataframes!
import pandas as pd
import numpy as np
data_baltimore = pd.read_csv(r"C:\Users\lred1\Desktop\Launchcode\SQL\clone\data-analysis-projects\data-manipulation\studio\data-manipulation-studio\dataset\baltimore_9-24-2016_9-30-2017.csv")
data_boston = pd.read_csv(r"C:\Users\lred1\Desktop\Launchcode\SQL\clone\data-analysis-projects\data-manipulation\studio\data-manipulation-studio\dataset\boston_9-24-2016_9-30-2017.csv")
data_newyork = pd.read_csv(r"C:\Users\lred1\Desktop\Launchcode\SQL\clone\data-analysis-projects\data-manipulation\studio\data-manipulation-studio\dataset\new-york_9-24-2016_9-30-2017.csv")
data_philly = pd.read_csv(r"C:\Users\lred1\Desktop\Launchcode\SQL\clone\data-analysis-projects\data-manipulation\studio\data-manipulation-studio\dataset\philadelphia_9-24-2016_9-30-2017.csv")

## Clean Your Data

In the last lesson, we cleaned the data related to San Francisco. Pull up your notebook from the last lesson and use it as a reference to clean up these new dataframes.

**Recommended cleaning steps:**
1. Handle missing values in the `Type` column (fill with "Conventional" if needed)
2. Drop irrelevant columns such as `Grade` (only applies to canned pumpkins)
3. Drop columns with high percentages of missing data that aren't needed for analysis
4. Check for and address any other data quality issues you notice

In [6]:
# Clean your data here!
data_baltimore["Type"] = data_baltimore["Type"].fillna("Conventional")
data_boston["Type"] = data_boston["Type"].fillna("Conventional")
data_newyork["Type"] = data_newyork["Type"].fillna("Conventional")
data_philly["Type"] = data_philly["Type"].fillna("Conventional")
data_baltimore = data_baltimore.drop(["Grade"], axis=1) 
data_boston = data_boston.drop(["Grade"], axis=1) 
data_newyork = data_newyork.drop(["Grade"], axis=1) 
data_philly = data_philly.drop(["Grade"], axis=1) 
data_baltimore = data_baltimore.drop(["Environment","Quality","Condition","Appearance","Storage","Crop","Trans Mode"], axis=1) 
data_boston = data_boston.drop(["Environment","Quality","Condition","Appearance","Storage","Crop","Trans Mode"], axis=1) 
data_newyork = data_newyork.drop(["Environment","Quality","Condition","Appearance","Storage","Crop","Trans Mode"], axis=1) 
data_philly = data_philly.drop(["Environment","Quality","Condition","Appearance","Storage","Crop","Trans Mode"], axis=1)

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [7]:
# Combine the four dataframes into one!
data_all = pd.concat(
    [data_baltimore, data_boston, data_newyork, data_philly],
    axis=0,           
    ignore_index=True 
)
data_all.count()

Commodity Name     674
City Name          674
Type               674
Package            674
Variety            672
Sub Variety         83
Date               674
Low Price          674
High Price         674
Mostly Low         674
Mostly High        674
Origin             669
Origin District     81
Item Size          625
Color              356
Environment          0
Unit of Sale       106
Quality              0
Condition            0
Appearance           0
Storage              0
Crop                 0
Repack             674
Trans Mode           0
dtype: int64

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of **unit of sale** in the Northeast region?
2. For the Northeast region, what is the total count of transactions (rows) for each pumpkin variety that came into terminal markets for the year?

In [8]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.
mean_prices = data_all.groupby("Variety")[["Low Price", "High Price"]].mean()
print(mean_prices)

                           Low Price  High Price
Variety
BIG MACK TYPE             129.454545  147.272727
BLUE TYPE                 260.000000  285.000000
CINDERELLA                206.051282  220.974359
FAIRYTALE                 198.783784  214.108108
HOWDEN TYPE               152.834821  177.098214
HOWDEN WHITE TYPE         170.000000  180.000000
KNUCKLE HEAD              238.888889  260.555556
MINIATURE                  16.391753   17.886598
MIXED HEIRLOOM VARIETIES  210.000000  230.000000
PIE TYPE                  133.404040  148.118687

In [10]:
# Put your code here to find the total count of transactions for each variety in the Northeast region.
data_all["Variety"].value_counts()

Variety
HOWDEN TYPE                 224
PIE TYPE                    198
MINIATURE                    97
BIG MACK TYPE                55
CINDERELLA                   39
FAIRYTALE                    37
KNUCKLE HEAD                  9
BLUE TYPE                     7
MIXED HEIRLOOM VARIETIES      4
HOWDEN WHITE TYPE             2
Name: count, dtype: int64

## Bonus Mission

Try answering the same questions for a different region! Choose either:
- **Midwest**: Chicago, Detroit, and St. Louis
- **Southeast**: Atlanta, Columbia, and Miami

Load, clean, and combine the data for your chosen region, then calculate:
1. The mean low and high prices for each type of unit of sale
2. The total count of transactions for each pumpkin variety

In [59]:
# Try the bonus mission if you have time!