In [31]:
import pandas as pd

Note about the data sets.  Context is contained within the README page which is in this same folder as this notebook.

# *Data Manipulation Notebook 2:*  Appending, Concatenating, Merging, and Joining Tables

In [32]:
flowers = pd.DataFrame({
    "Name" : ["Iris", "Peony", "Daisy", "Petunia", "Impatiens", "Creeping Myrtle"], 
    "Plant_Type" : ["Perennial", "Perennial","Annual", "Annual", "Annual", "Perennial"],
    "Sun_Shade": ["Full Sun", "Full Sun", "Partial Sun", "Partial Sun", "Partial Shade", "Full Shade" ]
    
})

garden_supply = pd.DataFrame({
    "Flower" : ["Daylily","Iris", "Peony","Petunia", "Petunia", "Impatiens", "Coneflower"],
    "Sold_As" : ["Container", "Bulb Pack", "Root Pack","Container Pack", "Mixed Container", "Container Pack", "Container"],
    "Amt_Package" : [1, 25, 5, 4, 1, 4, 1]
})

shrubs = pd.DataFrame({
    "Name" : ["Boxwood", "Hydrangea", "Dipladenia", "Gardenia"], 
    "Plant_Type" : ["Evergreen", "Flowering", "Flowering", "Flowering"],
    "Sun_Shade": ["Partial Sun", "Partial Sun", "Partial Shade", "Full Sun" ]
})

In [ ]:
#1. Examine the flowers table here:
The flowers table lists six plants with their plant type and sun/shade needs.
It includes a mix of annuals and perennials and sun requirements range from full sun to full shade.

In [ ]:
# 2. Examine the garden_supply table here:
The garden_supply table shows which flowers the store sells and how they are sold.
The items come in different packs like bulbs, root packs, and containers.
Some flowers appear more than one time because they are sold in different pack types.

In [ ]:
# 3. Examine the shrubs table here:
The shrubs table shows four shrubs and their plant types and all the shrubs are either evergreen or flowering.
Their sunlight needs range from full sun to partial shade.
This table gives a simple summary of the shrub types and how they grow.

<span style="background-color:dodgerblue; color:dodgerblue;">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</span>

# Part 1: Append 

Reading:
1. [Python – Pandas dataframe.append()](https://www.geeksforgeeks.org/python-pandas-dataframe-append/)

**Append** is a method that allows you to add additional rows to a dataset.

NOTE (from the reading above): As of Pandas version 2.0, the Pandas append() method is no longer in use. It is important to keep this in mind while working with Pandas. More efficient alternatives for concatenating DataFrames are the .concat() function from the pandas.DataFrame module.

Because of append() being deprecated, please skip to Part 2

<span style="background-color:dodgerblue; color:dodgerblue;">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</span>

# Part 2: Concatenation

Reading:
1. [pandas.concat() function in Python](https://www.geeksforgeeks.org/pandas-concat-function-in-python/)

**Concatenation** means to chain or link things together.  The **concat()** method is very similar to **append()**.
Like with **append()**, **concat()** can add rows to a table, or add to the 0 axis.  However, **concat()** can also add horizontally on the 1 axis, and by assigning **keys**.

To **concat()** more rows to a table, the syntax is similar to **append()**:   
Syntax:  **table_1_name.concat(table_2_name)**

In [7]:
# Concatenate with flowers

# Run the code below first to see the result, then answer the question:

flowers_shrubs = pd.concat([flowers, shrubs], keys=["Flowers", "Shrubs"])
print(flowers_shrubs)

# In your own words what are the "keys" and how do they work?
Keys are names given to each data frame so we can easily see which rows come from which table after joining.
They work like category lables that help pandas group the data and keep it organized.

                      Name Plant_Type      Sun_Shade
Flowers 0             Iris  Perennial       Full Sun
        1            Peony  Perennial       Full Sun
        2            Daisy     Annual    Partial Sun
        3          Petunia     Annual    Partial Sun
        4        Impatiens     Annual  Partial Shade
        5  Creeping Myrtle  Perennial     Full Shade
Shrubs  0          Boxwood  Evergreen    Partial Sun
        1        Hydrangea  Flowering    Partial Sun
        2       Dipladenia  Flowering  Partial Shade
        3         Gardenia  Flowering       Full Sun

In [8]:
# Concatenate flowers and shrubs horizontally here:
flowers_shrubs_horizontal = pd.concat([flowers, shrubs], axis=1)
flowers_shrubs_horizontal

,Name,Plant_Type,Sun_Shade,Name,Plant_Type,Sun_Shade
0,Iris,Perennial,Full Sun,Boxwood,Evergreen,Partial Sun
1,Peony,Perennial,Full Sun,Hydrangea,Flowering,Partial Sun
2,Daisy,Annual,Partial Sun,Dipladenia,Flowering,Partial Shade
3,Petunia,Annual,Partial Sun,Gardenia,Flowering,Full Sun
4,Impatiens,Annual,Partial Shade,NaN,NaN,NaN
5,Creeping Myrtle,Perennial,Full Shade,NaN,NaN,NaN

<span style="background-color:dodgerblue; color:dodgerblue;">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</span>

# Part 3:  Merge 

Reading for Parts 3 and 4
1. [Pandas Merge (Join Data) | pd.DataFrame.merge()](https://www.youtube.com/watch?v=xcN3s3Kij_8)
    1. 5 minute YouTube video
1. [Why and How to Use Merge with Pandas in Python](https://towardsdatascience.com/why-and-how-to-use-merge-with-pandas-in-python-548600f7e738)

In [13]:
# Run this code: (uncomment)
#flowers.merge(garden_supply)
flowers.merge(garden_supply, left_on="Name", right_on="Flower")

# Using the error information given to us, why isn't this code working?
There are no common columns to perform merge on. so I used left and right join.

,Name,Plant_Type,Sun_Shade,Flower,Sold_As,Amt_Package
0,Iris,Perennial,Full Sun,Iris,Bulb Pack,25
1,Peony,Perennial,Full Sun,Peony,Root Pack,5
2,Petunia,Annual,Partial Sun,Petunia,Container Pack,4
3,Petunia,Annual,Partial Sun,Petunia,Mixed Container,1
4,Impatiens,Annual,Partial Shade,Impatiens,Container Pack,4

In order to merge a table, you need to identify a shared column between the tables.  This is often referred to as a **"key"**.

Our tables both have a column of flower names.  However, the names of the columns are not the same.
There are two options we can take in order to use the names of the flower as the key.

Option 1 is to **rename** one of the columns.  

Option 2 is to inform the **merge** method which columns to use as the key.

We are going to try both.

### Option 1:  Rename a column in the flowers table.

Create a variable to hold your updated table.  
apply the following syntax to update your column names: **table_name.rename(columns={"original_name": "new_name"})**

In [15]:
# Code Option 1 here.  Be sure to run your table before moving on to option 2.
updated_table = flowers.merge(garden_supply, left_on="Name", right_on="Flower")
updated_table = updated_table.rename(columns={
    "Name": "Fwr_Name",
    "Sold_As": "Pge_Type"
})
updated_table.head()

,Fwr_Name,Plant_Type,Sun_Shade,Flower,Pge_Type,Amt_Package
0,Iris,Perennial,Full Sun,Iris,Bulb Pack,25
1,Peony,Perennial,Full Sun,Peony,Root Pack,5
2,Petunia,Annual,Partial Sun,Petunia,Container Pack,4
3,Petunia,Annual,Partial Sun,Petunia,Mixed Container,1
4,Impatiens,Annual,Partial Shade,Impatiens,Container Pack,4

#### Test Option 1 results:
Merge garden_supply with the updated table you created above and store it in a new variable.
Run your newly merged table and examine it.

In [16]:
# Test Option 1 here:
merged_option1 = updated_table.merge(garden_supply, on="Flower", how="left")
merged_option1.head()

,Fwr_Name,Plant_Type,Sun_Shade,Flower,Pge_Type,Amt_Package_x,Sold_As,Amt_Package_y
0,Iris,Perennial,Full Sun,Iris,Bulb Pack,25,Bulb Pack,25
1,Peony,Perennial,Full Sun,Peony,Root Pack,5,Root Pack,5
2,Petunia,Annual,Partial Sun,Petunia,Container Pack,4,Container Pack,4
3,Petunia,Annual,Partial Sun,Petunia,Container Pack,4,Mixed Container,1
4,Petunia,Annual,Partial Sun,Petunia,Mixed Container,1,Container Pack,4

### Option 2: Using the merge method's parameters "left_on" & "right_on"

Option 2 can be used if you would rather not rename any columns.
Using the syntax below as a guide, create a table where you merge the *flowers* table on the "Name" column and the *garden_supply* on the "Flower" column.  Set your tables up where *flowers* is on the left and *garden_supply* on the right
    
Syntax:  **left_table.merge(right_table, left_on="column_name", right_on="column_name")**

In [17]:
# Code Option 2 here:
merged_option2 = flowers.merge(garden_supply, left_on="Name", right_on="Flower")
merged_option2.head()

,Name,Plant_Type,Sun_Shade,Flower,Sold_As,Amt_Package
0,Iris,Perennial,Full Sun,Iris,Bulb Pack,25
1,Peony,Perennial,Full Sun,Peony,Root Pack,5
2,Petunia,Annual,Partial Sun,Petunia,Container Pack,4
3,Petunia,Annual,Partial Sun,Petunia,Mixed Container,1
4,Impatiens,Annual,Partial Shade,Impatiens,Container Pack,4

### Sytnax Exploring:
Using the syntax in Option 2, perform the same merge, but this time *garden_supply* on the left and *flowers* on the right.  What do you notice?

In [33]:
#  Code your Syntax Exploration here:
syntax_explore = garden_supply.merge(flowers, left_on="Flower", right_on="Name")
syntax_explore.head()

,Flower,Sold_As,Amt_Package,Name,Plant_Type,Sun_Shade
0,Iris,Bulb Pack,25,Iris,Perennial,Full Sun
1,Peony,Root Pack,5,Peony,Perennial,Full Sun
2,Petunia,Container Pack,4,Petunia,Annual,Partial Sun
3,Petunia,Mixed Container,1,Petunia,Annual,Partial Sun
4,Impatiens,Container Pack,4,Impatiens,Annual,Partial Shade

<span style="background-color:dodgerblue; color:dodgerblue;">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</span>

# Part 4:  Types of Merges 

Merging is another way of providing you with ways to explore and understand your data.  Merging the entire table is great if the table is small, like our current example.  But think back to the data sets you have worked with so far.  Some have over a dozen columns.  

Merging works by creating a new table from related items.  There are 4 main types of merges that we are going to begin exploring: *inner, left, right, outer.* 

The syntax for merge(): **DataFrame.merge(right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False, validate=None)** [source](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html)

As we explore the types of merges, we are going to focus on the following parameters: **how**, **left_on**, **right_on**.  

Pandas documentation for **how**:
> **how : {‘left’, ‘right’, ‘outer’, ‘inner’, ‘cross’}, default ‘inner’**
>> Type of merge to be performed.
>> - **left**: use only keys from left frame, similar to a SQL left outer join; preserve key order.
>> - **right**: use only keys from right frame, similar to a SQL right outer join; preserve key order.
>> - **outer**: use union of keys from both frames, similar to a SQL full outer join; sort keys lexicographically.
>> - **inner**: use intersection of keys from both frames, similar to a SQL inner join; preserve the order of the left keys.

[source](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html)

*Note*: SQL is a language designed for working with databases.  Depending on the lesson order for this cohort, you will have already become familiar with SQL. Otherwise, it will be covered in-depth in upcoming lessons.

Pandas documentation for **left_on** and **right_on**:
>**left_on**: label or list, or array-like
>>Column or index level names to join on in the left DataFrame. Can also be an array or list of arrays of the length of the left DataFrame. These arrays are treated as if they are columns.

>**right_on**: label or list, or array-like
>>Column or index level names to join on in the right DataFrame. Can also be an array or list of arrays of the length of the right DataFrame. These arrays are treated as if they are columns.

[source](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html)

*Note*:  We will add the following parameter, **indicator**, to help us visualize how the tables are being merged together.  You will see a new column added because of this parameter, **_merge**.

### Before you begin merging  
You can decide which way you want them to merge **on**.  You can decide to use the table where you renamed your columns, or you can keep your tables as they are and use the **left_on** and **right_on** parameters.  If you are not sure, try both options and see which you like best.

## 4a: Inner Merge

In [ ]:
inner = pd.merge(flowers, garden_supply, how="inner", left_on="Name", right_on="Flower", indicator=True)
inner

In [34]:
# Explain this table.  Why these values, when 
Inner merge means only the rows that are present in both tables are kept,the merge column shows where each row comes from .
But in an inner merge,all values in merge willbe both because any rowthat does not match is removed.

## 4b: Left Merge

In [24]:
# Create a left merge table:
left_merge = pd.merge(
    flowers, 
    garden_supply, 
    how="left",          
    left_on="Name",      
    right_on="Flower",  
    indicator=True       
)
left_merge

,Name,Plant_Type,Sun_Shade,Flower,Sold_As,Amt_Package,_merge
0,Iris,Perennial,Full Sun,Iris,Bulb Pack,25.0,both
1,Peony,Perennial,Full Sun,Peony,Root Pack,5.0,both
2,Daisy,Annual,Partial Sun,NaN,NaN,NaN,left_only
3,Petunia,Annual,Partial Sun,Petunia,Container Pack,4.0,both
4,Petunia,Annual,Partial Sun,Petunia,Mixed Container,1.0,both
5,Impatiens,Annual,Partial Shade,Impatiens,Container Pack,4.0,both
6,Creeping Myrtle,Perennial,Full Shade,NaN,NaN,NaN,left_only

## 4c: Right Merge

In [35]:
right = pd.merge(flowers, garden_supply, how="right", left_on="Name", right_on="Flower", indicator=True)
right

,Name,Plant_Type,Sun_Shade,Flower,Sold_As,Amt_Package,_merge
0,NaN,NaN,NaN,Daylily,Container,1,right_only
1,Iris,Perennial,Full Sun,Iris,Bulb Pack,25,both
2,Peony,Perennial,Full Sun,Peony,Root Pack,5,both
3,Petunia,Annual,Partial Sun,Petunia,Container Pack,4,both
4,Petunia,Annual,Partial Sun,Petunia,Mixed Container,1,both
5,Impatiens,Annual,Partial Shade,Impatiens,Container Pack,4,both
6,NaN,NaN,NaN,Coneflower,Container,1,right_only

In [ ]:
# The syntax for right merge has been provided.
# In your own words, explain how it is different from the left merge in 4b:
Left merge keeps all rows from the first table, right merge keeps all rows from the second table.
unmatched rows from the other table will have NaN.

## Outer Merge

In [25]:
# Create an outer merge table here:
outer_merge = pd.merge(
    flowers, 
    garden_supply, 
    how="outer",        
    left_on="Name",    
    right_on="Flower",  
    indicator=True     
)
outer_merge

,Name,Plant_Type,Sun_Shade,Flower,Sold_As,Amt_Package,_merge
0,NaN,NaN,NaN,Coneflower,Container,1.0,right_only
1,Creeping Myrtle,Perennial,Full Shade,NaN,NaN,NaN,left_only
2,Daisy,Annual,Partial Sun,NaN,NaN,NaN,left_only
3,NaN,NaN,NaN,Daylily,Container,1.0,right_only
4,Impatiens,Annual,Partial Shade,Impatiens,Container Pack,4.0,both
5,Iris,Perennial,Full Sun,Iris,Bulb Pack,25.0,both
6,Peony,Perennial,Full Sun,Peony,Root Pack,5.0,both
7,Petunia,Annual,Partial Sun,Petunia,Container Pack,4.0,both
8,Petunia,Annual,Partial Sun,Petunia,Mixed Container,1.0,both

## Anti_Merge

An **Anti Merge** is a merge based on what is leftout.  This is not an actual table, but you can create one with a little code and logic.  Read through the code below to see one way to create an anti-table.

In [ ]:
left_join = flowers.merge(garden_supply, how="left", left_on="Name", right_on="Flower", indicator=True)
left_join

In [ ]:
left_only = left_join.loc[left_join["_merge"] =="left_only", "Name"]
left_only

In [ ]:
left_only_flowers=flowers[flowers["Name"].isin(left_only)]
left_only_flowers

In [36]:
# In your own words, how did we create the "left_only_flowers" table?  
Doing a left merge to see which flowers are missing in the store.

Picking only the rows that are in flowers but not in garden_supply.

Filtering the original flowers table to get just those missing flowers.
    
# How does the syntax work?  
    left_join = flowers.merge(
    garden_supply, 
    how="left", 
    left_on="Name", 
    right_on="Flower", 
    indicator=True
)

left_only = left_join.loc[left_join["_merge"] == "left_only", "Name"]
left_only_flowers = flowers[flowers["Name"].isin(left_only)]

Merge the tables and mark which rows come from where.

Pick only the rows that are in flowers but not in garden_supply.

Filter the original flowers table to get just these rows.

<span style="background-color:dodgerblue; color:dodgerblue;">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</span>

# Part 5: Join

Reading List:
1. [Pandas Join vs. Merge](https://towardsdatascience.com/pandas-join-vs-merge-c365fd4fbf49)
1. [pandas.DataFrame.join](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.join.html)

The pandas library also contains a join method.  It has fewer parameters than merge, but can still be useful.

The parameter that we are going to look at in this last section is **how**.

From the pandas documentation:

> **how : {‘left’, ‘right’, ‘outer’, ‘inner’}, default ‘left’:**
>> How to handle the operation of the two objects.
>> - **left**: use calling frame’s index (or column if on is specified)
>> - **right**: use other frame's index.
>> - **outer**: form union of calling frame’s index (or column if **on** is specified) with other frame's index, and sort it lexicographically.
>> - **inner**: form intersection of calling frame’s index (or column if **on** is specified) with other frame's index, preserving the order of the returned data using the calling frame's order.

In [ ]:
join = flowers.join(garden_supply)
join

In [28]:
# create a "join_outer" table that outer joins garden_supply and flowers:

# Outer join using join()
join_outer = flowers.join(
    garden_supply, 
    how="outer",       
    lsuffix="_flowers",
    rsuffix="_supply"   
)
join_outer

# run your table:
join_outer

,Name,Plant_Type,Sun_Shade,Flower,Sold_As,Amt_Package
0,Iris,Perennial,Full Sun,Daylily,Container,1
1,Peony,Perennial,Full Sun,Iris,Bulb Pack,25
2,Daisy,Annual,Partial Sun,Peony,Root Pack,5
3,Petunia,Annual,Partial Sun,Petunia,Container Pack,4
4,Impatiens,Annual,Partial Shade,Petunia,Mixed Container,1
5,Creeping Myrtle,Perennial,Full Shade,Impatiens,Container Pack,4
6,NaN,NaN,NaN,Coneflower,Container,1

In [ ]:
# SOLUTION
join_outer = garden_supply.join(flowers, how="outer")
join_outer

In [ ]:
# Based on what an outer join does, look closely at the table "join_outer".  
# Explain how these table elements are indexed.

The table is indexed by row numbers (indexes).

Outer join keeps all rows from both tables.

If a row in one table does not have a matching index in the other table, the missing columns show NaN.